@import './variables.scss';

.films {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
}

.filmItem {
  flex-basis: 25%;
  margin-bottom: 20px;

  padding-left: 8px;
  padding-right: 8px;

  > div {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $pink-1;

    h2 {
      margin: 0 0 20px 0;
    }

    p {
      margin: 2px 0;
    }
  }
}
