@import "./variables.scss";

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 5px;
    text-align: center;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  th {
    background: $table-head-background;
    cursor: pointer;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      right: 0;
      top: 5px;
      content: "";
    }

    &.thAscending {
      &:after {
        content: "↑";
      }
    }
    
    &.thDescending {
      &:after {
        content: "↓";
      }
    }
  }
}

.filterInputs {
  label {
    margin-right: 10px;
  }
}

.tableFooter {
  display: flex;
  justify-content: flex-end;
}
