@import "./variables.scss";

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 5px;
    text-align: center;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  tr {
    &:nth-child(odd) {
      background-color: lighten($blue-1, 75%);
    }
  }

  th {
    background: $table-head-background;
    cursor: pointer;
    position: relative;
    color: white;

    &:after {
      display: block;
      position: absolute;
      right: 0;
      top: 5px;
      content: "";
    }

    &.thAscending {
      &:after {
        content: "↑";
      }
    }
    
    &.thDescending {
      &:after {
        content: "↓";
      }
    }
  }
}

.filterInputs {
  margin-bottom: 15px;

  label {
    margin-right: 20px;

    input {
      margin-left: 10px;
    }
  }

  fieldset {
    border: 0;
  }
}

.tableFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px 0;
}
