// common
$white-1: #fafafa;
$gray-1: #cccccc;


// theme
// sidebar
$sidebar-background: $gray-1;

// blockquote
$blockquote-background: $white-1;
$blockquote-border: $gray-1;

// table
$table-head-background: $gray-1;

// breadcrumb
$breadcrumb-separator: $gray-1;