// common
$white-1: #fafafa;
$gray-1: #cccccc;
$pink-1: #ff696d;
$blue-1: #192d4d;


// theme
// sidebar
$sidebar-background: $pink-1;

// blockquote
$blockquote-background: $white-1;
$blockquote-border: $pink-1;

// table
$table-head-background: $blue-1;

// breadcrumb
$breadcrumb-separator: $gray-1;